
.result-list {
    margin-top: 15px;
}

.results-component {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.result-item {
    display: flex;
    flex-direction: column; /* Start with a vertical layout for simplicity */
    gap: 15px; /* Consistent spacing between elements */
    padding: 20px;
    border: 1px solid #cfd8dc; /* Softer border color */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth transitions for hover effects */
}

.result-item:hover {
    transform: translateY(-5px); /* Slight lift effect on hover */
    box-shadow: 0 4px 8px rgba(0,0,0,0.15); /* Enhanced shadow on hover for emphasis */
}

.driver-info {
    display: flex;
    align-items: center;
    gap: 10px; /* Use gap for spacing instead of margin-right */
}

.driver-info img {
    width: 60px; /* Slightly larger for emphasis */
    height: 60px;
    border-radius: 50%;
    object-fit: cover; /* Ensure the image covers the area well */
}

/* Responsive adjustments */
@media (max-width: 767px) {
    .result-item {
        flex-direction: column; /* Ensure vertical layout on small screens */
    }
}

@media (min-width: 768px) {
    .result-item {
        flex-direction: row; /* Horizontal layout on wider screens */
        align-items: center; /* Center items for a cohesive look */
        justify-content: space-between; /* Space out items */
    }

    .driver-info img {
        margin: 0; /* Adjust margin as needed */
    }
}

/* Style de base pour les informations */
.departure-time, .arrival, .date-time-depart, .available-places {
    margin: 8px 0;
    padding: 12px;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 500;
    transition: transform 0.3s ease;
}

/* Effet au survol pour ajouter de l'interaction */
.departure-time:hover, .arrival:hover, .date-time-depart:hover, .available-places:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

/* Utilisation de gradients pour un look moderne */
.departure-time {
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
}

.arrival {
    background: linear-gradient(135deg, #ff5f6d 0%, #ffc371 100%);
}

.date-time-depart {
    background: linear-gradient(135deg, #00b09b 0%, #96c93d 100%);
}

.available-places {
    background: linear-gradient(135deg, #ee9ca7 0%, #ffdde1 100%);
}

/* Responsivité améliorée pour petits écrans */
@media (max-width: 767px) {
    .departure-time, .arrival, .date-time-depart, .available-places {
        display: block;
        width: calc(100% - 24px); /* Adaptation à la taille de l'écran moins le padding */
        margin: 8px auto; /* Centrage */
    }
}
